<style>
.myDiv {  
  margin: auto;
  width: 60%;
  border: 0px;
  padding: 10px;
}
</style>

<div class="myDiv">
<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
</div>
